  <ng-container>
    <app-header></app-header>
      <mat-sidenav-container class="example-container">
       <router-outlet></router-outlet>
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
          <mat-toolbar style="background: rgba(119, 165, 233, 0.5)">
            <mat-toolbar-row>
              <span><a routerLink="/bookTicket">Flight Booking</a></span>
              <span class="example-spacer"></span>
            </mat-toolbar-row>
          
            <mat-toolbar-row>
              <span><a routerLink="/cancelTicket">Flight Cancelation</a></span>
              <span class="example-spacer"></span>
            </mat-toolbar-row>

            <mat-toolbar-row>
              <span><a routerLink="/ticketSearch">Ticket Search</a></span>
              <span class="example-spacer"></span>
            </mat-toolbar-row>
            
            <mat-toolbar-row>
              <span><a routerLink="/history">Booking History</a></span>
              <span class="example-spacer"></span>
            </mat-toolbar-row>
          </mat-toolbar>
      </mat-sidenav>
    </mat-sidenav-container>
    <app-footer></app-footer>
  </ng-container>

  
 
  
  
